@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Combo&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

:root {
  --color-dark-blue: hsl(218, 44%, 22%);
  --color-grayish-blue: hsl(219, 26%, 78%);
  --color-white: hsl(0, 16%, 96%);
  --color-light-grey: hsl(212, 45%, 89%);

  --transition: all 400ms ease;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  height: 100vh;
  width: 1440px;
  font-family: "Red Hat Display", sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 85vh;
  border: 0 solid transparent;
  border-radius: 20px;
  background: var(--color-white);

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.hero {
  width: 350px;
  height: 150px;
  border-top-left-radius: 17.5px;
  border-top-right-radius: 17.5px;
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 8px;
}

p {
  text-align: center;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.plan {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  background: var(--color-light-grey);
  padding: 3px 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.span {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 70px;
  color: rgb(145, 158, 158);
}

span {
  font-weight: 700;
  color: black;
}

a:active,
:hover {
  font-weight: 700;
  color: blue;
}

.btn {
  margin-top: 30px;
}
button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 300px;
  height: 40px;
  background: rgb(116, 116, 180);
  font-family: "Red Hat Display", sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: antiquewhite;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.btn-can {
  margin-top: 5px;
  background: transparent;
  color: black;
}

.btn-clicked {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 300px;
  height: 40px;
  /* background: rgb(39, 8, 59); */
  font-family: "Red Hat Display", sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: rgb(104, 98, 92);
  box-shadow: rgba(131, 131, 151, 0.25) 0px 30px 60px -12px inset,
    rgba(202, 195, 195, 0.3) 0px 18px 36px -18px inset;
}

.popup-cancel {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(22, 21, 21);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: none;
  /* transform: scale(0); */
  /* z-index: 999; */
}

.container-cancel {
  width: 600px;
  height: 80vh;
  margin-top: 20px;
  background: url(./images/musicbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-left: 300px;
  box-shadow: rgba(255, 254, 254, 0.25) 0px 54px 55px,
    rgba(255, 255, 255, 0.12) 0px -12px 30px,
    rgba(255, 255, 255, 0.12) 0px 4px 6px,
    rgba(255, 255, 255, 0.17) 0px 12px 13px,
    rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

.container-cancel > p {
  font-size: 80px;
  text-align: center;
  font-family: "Combo";
  color: orangered;
}

.fa-window-close {
  color: orangered;
  font-size: 25px;
  margin-top: 40px;
  z-index: 20;
  margin-left: 1200px;
}
